<!DOCTYPE html>
<html lang="en">

<!--  Page title--> 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HW12-Mars Scrape</title>

  <!--  Import bootstrap      --> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <!--  Header      -->     
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <strong><h1>Mission to Mars</h1></strong>
      <strong><p><h1>Student: Rafael Santos</h1></p></strong>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Update by Scraping New Data!</a></p>
    </div>

  <!--  Latest Mars News -->         
    <div>
      <h2><strong>Latest Mars News:</strong></h2>
      <h3>{{mars.news_title}}</h3>
      <h3>{{mars.news_paragraph}}</h3>
    </div>
    
    <br>

  <!--  Current Weather-->             
    <div>
       <h2><strong>Current Weather:</h2></strong>
       <h3>{{mars.mars_weather}}</h3>
    </div>            
    <br>

  <!--  Featured image -->                 
    <div>
       <h2><strong>Featured Mars Image:</strong></h2>
       <img src="{{mars.featured_image_url}}" alt="Featured Image">
    </div>
    <br>

  <!--  MARS FACTS       --> 
    <div>
       <h2><strong>Mars Facts:</strong></h2> 
          
       {{mars.html_table|safe}}

    </div>
    <br>

  </div>
  
  <!--  Mars Hemispheres Images -->             
  
  <div class="container-fluid">
    <div class="jumbotron text-center">
      
        <h2><strong>Mars Hemispheres:</strong></h2>
        <br>
        <br>
        <h3><strong> {{mars.hemisphere_image_urls[0].title}}</strong></h3>
        <img src="{{mars.hemisphere_image_urls[0].img_url}}" alt="Hemisphere images 1">
        <br>
        <br>
        <h3><strong> {{mars.hemisphere_image_urls[1].title}}</strong></h3>
        <img src="{{mars.hemisphere_image_urls[1].img_url}}" alt="Hemisphere images 2">
        <br>
        <br>
        <h3><strong> {{mars.hemisphere_image_urls[2].title}}</strong></h3>
        <img src="{{mars.hemisphere_image_urls[2].img_url}}" alt="Hemisphere images 3">
        <br>
        <br>
        <h3><strong> {{mars.hemisphere_image_urls[3].title}}</strong></h3>
        <img src="{{mars.hemisphere_image_urls[3].img_url}}" alt="Hemisphere images 4">
    
    </div>

  </div>

</body>

</html>